.footer{
    max-width: 1650px;
    margin: 0 auto;
    padding: 0 30px;
    
    .footer-top{
        .row{
            display: flex;
            .icon-phone{
                background-color: #E01D19;
                width: 33%;
               .border-icon {
                   display: flex;
                   padding: 20px;
                   
                }
                .border-icon img{
                    border-right: 1px solid #fff;
                    padding-right:  5px;
                }
                .border-icon .text-right{
                    margin: 0 20px;
                    
                    
                 }
                 .text-right h4{
                    font-style: normal;
                    font-weight: 700;
                    line-height: 35px;
                    text-align: left;
                    color: #f1c300;
                    margin-bottom: 0;
                    font-family: Roboto,sans-serif;
                }
                .text-right p{
                    color: #fff;
                }
            }
            .icon-time{
                
                width: 35%;
                margin: 0 20px;
                display: flex;
                background-color: #E01D19;
                .border-icon {
                    padding: 20px;
                    img{
                        border-right: 1px solid #fff;
                        padding-right:  5px;
                    }
                   
                }
                .text-right{
                    margin: 20px 20px;
                    
                    
                }
                .text-right h4{
                    font-style: normal;
                    font-weight: 700;
                    line-height: 35px;
                    text-align: left;
                    color: #f1c300;
                    margin-bottom: 0;
                    font-family: Roboto,sans-serif;
                }
                .text-right p{
                    color: #fff;
                }
            }
            .icon-mail{
                
                display: flex;
                width: 30%;
                background-color: #E01D19;
                
                .border-icon {
                    padding: 20px;
                    img{
                        border-right: 1px solid #fff;
                        padding-right:  5px;
                    }
                } 
                .text-right{
                    .form{
                        display: flex;
                    }
                    .form1 {
                        font-family: Roboto,sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0;
                        text-align: left;
                        width: 100%;
                        max-width: 309px;
                        height: 50px;
                        border: 1px solid #e2dfdc;
                        box-sizing: border-box;
                        border-radius: 25px;
                        float: left;
                        padding-left: 22px;
                        outline: none;
                        color: #707070;
                    }
                    .form2{
                        margin-left: -50px;
                        background-color: #fff;
                        color: #E01D19;
                        border-radius: 51px;
                        border: 0px solid #fff;
                    }
                    margin: 20px 20px;  
                }
                .text-right .ip{
                    border-radius: 10px;
                    background: #fff;
                }
                .text-right p{
                    color: #fff;
                }
                 
            }
           
        }
    }
    .footer-bottom{
        margin-top: 70px;
        .row{
            display: flex;
            flex: wrap;
            a{
                color: #707070;
                line-height: 2;
            }
            .shop-post {
                //background-color: #f1c300;
                flex: unset;
                width: 25%;
                padding: 0;
                .flow-us{
                    display: flex;
                }
                .flow-us p {
                    font-family: Roboto,sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 21px;
                    letter-spacing: 0;
                    text-align: left;
                    color: #333;
                    display: inline-block;
                    margin: 0 13px 0 0;
                }
                .flow-us i{
                    color: #bcbcbc;
                    padding: 0 12px;
                }
            }
            .title1 {
                font-weight: 600;
                font-size: 22px;
                line-height: 33px;
                margin-bottom: 24px;
                h4 {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 21px;
                    letter-spacing: 0;
                    text-align: left;
                    color: #333;
                    font-family: Roboto,sans-serif;
                }
            }
            .content {
                display: inline-grid;
                margin-bottom: 3px;
                margin-left: -25px;
                margin-top: -65px;
                li{
                    display: flex;
                    margin-bottom: 20px;
                    list-style-type: none;
                }
            }
            .menu-post {
                //background-color: rgb(214, 103, 103);
                flex: unset;
                width: 25%;
                padding: 0 0 0 4%;
            }
            .category-post {
                //background-color: red;
                flex: unset;
                width: 26%;
                padding: 0;
                .text-post{
                    column-count: 2;
                }
            }
            .information-post {
                //background-color: peru;
                flex: unset;
                width: 24%;
                padding: 0 0 0 8.8%;
            }
        }
        .footer-absolute{
            max-width: 1650px;
            margin: 0 auto;
            padding: 0 30px;
            .container {
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .footer-absolute .inner {
            padding-top: 27px;
            padding-bottom: 13px;
            color: #bcbcbc;
        }
        .footer-absolute .inner p {
            color: #bcbcbc;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0;
            text-align: center;
            margin: 0;
            font-family: Roboto,sans-serif;
        }
    }
}